[Interface]
PrivateKey = {{ client_priv_key }} 
Address = {{ wg_client.ipv4 }}/24,{{ wg_client.ipv6 }}/64
DNS = {{ wg_client.dns1 }},{{ wg_client.dns2 }}

[Peer]
PublicKey = {{ pub_key }}
PresharedKey = {{ symm_key }} 
Endpoint = {{ ansible_default_ipv4.address }}:{{ wg_server.port }}
AllowedIPs = 0.0.0.0/0,::/0
