[Interface]
PrivateKey = {{ client_priv_key }} 
Address = {{ client_ipv4 }}/24,{{ client_ipv6 }}/64
DNS = {{ client_dns1 }},{{ client_dns2 }}

[Peer]
PublicKey = {{ pub_key }}
PresharedKey = {{ symm_key }} 
Endpoint = {{ ansible_default_ipv4.address }}:{{ server_port }}
AllowedIPs = 0.0.0.0/0,::/0
