[Interface]
Address = {{ wg_server.ipv4 }}/24,{{ wg_server.ipv6 }}/64
ListenPort = {{ wg_server.port }} 
PrivateKey = {{ priv_key }}
PostUp = iptables -A FORWARD -i {{ wg_server.interface_name }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -A FORWARD -i {{ wg_server.interface_name }}  -j ACCEPT; ip6tables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ wg_server.interface_name }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -D FORWARD -i {{ wg_server.interface_name }} -j ACCEPT; ip6tables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE

[Peer]
PublicKey = {{ client_pub_key }}
PresharedKey = {{ symm_key }} 
AllowedIPs = {{ wg_client.ipv4 }}/32,{{ wg_client.ipv6 }}/128
